@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    background-color: gray;
    user-select: none;
}

table {
    border: black 1px solid;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    transition: 0.25s;
}

#btnContainer {
    margin-top: 1%;
    text-align: center;
}

#btnShuffle {
    border: 1px solid black;
    background-color: lightgray;
    transition: 0.25s;
    padding: 10px;
}