@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
    background-color: rgb(15, 15, 15);
    color: white;
    overflow: hidden;
}

@keyframes pulse {
    from {
        box-shadow:
            0 0 25px white,
            0 0 50px white;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#container h1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#container #btnKezdes {
    width: 200px;
    height: 75px;
    font-size: larger;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 8px;
    position: absolute;
    background-color: transparent;
    color: rgb(15, 15, 15);
    transition: 0.05s;
}

#container #btnKezdes:hover {
    background-color: rgb(25, 25, 25);
    color: gray;
}

#container #btnKezdes:focus {
    animation: pulse 0.5s ease-in-out;
}

#timer {
    display: none;
    transition: 0.25s;
}

#secondPuzzleDiv,
#thirdPuzzleDiv,
#fourthPuzzleDiv,
#fifthPuzzleDiv,
#endGame,
#failGame {
    opacity: 0;
    display: none;
}

#numValue::-webkit-inner-spin-button,
#numValue::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#numValue {
    width: 250px;
    height: 25px;
    font-size: large;
    text-align: center;
    outline: none;
    transition: 0.25s;
    border: 1px solid white;
    border-radius: 10px;
}

#thirdGameDiv,
#thirdGameDiv table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#thirdGameDiv table {
    margin-top: 5%;
    width: 100%;
}

#thirdGameDiv hr {
    width: 20%;
}

#thirdGameDiv td {
    height: 50px;
}

#thirdGameDiv table tr,
#thirdGameDiv table tr td {
    width: 25%;
}

.thirdGameEmojis {
    transition: 0.5s;
    background-color: transparent;
}
.thirdGameEmojis:hover {
    background-color: rgb(39, 37, 37);
    border-radius: 10px;
    cursor: pointer;
}

#thirdGameTable {
    transition: 0.25s;
}

#fourthGameButtons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.fourthPuzzleButton {
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 50%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.fourthPuzzleButton:hover {
    background-color: gray;
    cursor: pointer;
    transform: scale(1.15);
}